.form
  .title
    Post a Quote
  = form_with model: @quote, class: 'form__quote', local: true do |f|
    = f.text_area :text, placeholder: 'quote here', class: 'text_box'
    .form__quote__origin
      = f.text_field :author, placeholder: 'person source', class: 'text_box', id: 'author'
      = f.text_field :source, placeholder: 'document source', class: 'text_box'
      = f.text_field :date, placeholder: 'source date', class: 'text_box', id: 'source'
    = f.text_area :description, placeholder: 'additional history to mension', class: 'text_box'
    .form__quote__similar
      similar quotes
    = f.submit 'Quote!', class: 'submit'