.quote.top.0
  .quote__header.0
    .quote__header__btns
      %button.qButton.0{type: 'button'} Q
      %button.gButton.0{type: 'button'} G
      %button.cButton.0{type: 'button'} C
    .popup.0
  .quote__content.top
    .quote__content__left
      -# - if @quote.author && @quote.author.pictures.present?
      -#   = image_tag @quote.author.pictures.sample, size: "100x100"
      -# - elsif @quote.source && @quote.source.pictures.present?
      -#   = image_tag @quote.source.pictures.sample, size: "100x100"
    .quote__content__text.0
      = @quote.text
      .quote__content__text__jp
    .quote__content__origin.0
      -# .origin__name
      -#   -if @author
      -#     \-
      -#     = link_to @author.name, '#aName' ,class: 'aName'
      -#     - if @source
      -#       \,
      -#   -elsif @quote.selfquote
      -#     = link_to @quote.quota.name, '#qName' , class: 'qName'
      -# - if @source
      -#   .origin__source
      -#     = link_to @source.name, '#sName', class: 'sName'
  .quote__footer
    .quote__footer__like
      %button.like
        L
      .quote__footer__like__times
        0
  .comments.0
    .comments__header
      %h3 Comments
      %button.close{type: 'button'} X
    - @comments.each do |comment|
      .comments__each
        = comment.text
        .comments__each__quota
          posted by
          %span #{comment.quota.name},
          at #{comment.updated_at}
    = form_with model: [@quote, @comment], class: 'comment_form', local: true do |f|
      %button.nButton.0{type: 'button'} N
      = f.text_field :text, class: 'comment__text'
      = f.submit '', class: 'submit'