.new
  .title
    Post a Quote
  = form_with model: @quote, class: 'new__quote', local: true do |f|
    = f.text_area :text, placeholder: 'quote here', class: 'text_box'
    .new__quote__origin
      = f.fields_for :author do |a|
        = a.text_field :name, placeholder: 'says whom?', class: 'text_box'
      = f.fields_for :document do |d|
        = d.text_field :name, placeholder: 'document or article', class: 'text_box'
    = f.text_area :description, placeholder: 'additional history to mension', class: 'text_box'
    .new__quote__img
      = f.fields_for :picture do |p|
        = f.label :image, 'image file'
        = f.file_field :image, class: 'file_form'
    .new__quote__similar
      similar quotes
    .new__quote__tags
      tags
    = f.submit 'Quote!', class: 'submit'